
[data-boxMenu="historico"].mostrar{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #001f23a8;
    z-index: 999 !important;
 
    opacity: 1;
    transition: .5s;
}

[data-boxMenu="historico"]{
    /* width: 100%; */
    opacity: 0;
    transition: .5s;
    display: none;
}

.containerBoxHistorico{
        /* comando para posicionar ao centro */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    
        display: grid;
        grid-template-rows: 40px 1fr 45px;
        max-width: 600px;
        max-height: calc(100% - 70px);
        height: 350px;
        overflow: scroll;
        padding: 40px;
        background-color: white;
        border-radius: 5px;
        text-align: left;
    
        justify-content: center;

        /* border: solid 1px red; */
}

.containerBoxHistorico .linha1{
    text-align: right;
}

.containerBoxHistorico .linha1 #btnFechar{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 1000%;
    transition: .5s;
    color: #757575;
    font-size: 1.5rem;
    
}


.containerBoxHistorico .linha1 #btnFechar:hover{
    background-color: rgba(221, 221, 221, 0.349);
    transition: .5s;
}

.containerBoxHistorico .linha2 #titulo{
    color: #001f23;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.07692;
    margin-bottom: 20px;
}

.containerBoxHistorico .linha2 #texto{
    color: #001f23;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 12px;
}

.containerBoxHistorico .linha3{
    text-align: right;
    justify-content: center;
}

.containerBoxHistorico .btnIr{
    background-color: #009db1;
    color: white;
    border: #009db1;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    transition: .5s;
}

.containerBoxHistorico .btnIr > i{
    margin-left: 10px;
    font-size: 16px;
}

.containerBoxHistorico .btnIr:hover{
    background-color: #0b4850;
    transition: .5s;
}
