.footerGrid{
    display: grid;
    grid-template-columns: 52px 1fr 52px;
    width: 100%;
    
}

.coluna1Footer, .coluna3Footer{
    background-color: #264044;
    text-align: center;
}

/* CSS MENU FOOTER */
.menuFooter{
    width: 100%;
    height: 48px;
    background-image: linear-gradient(to top, #042327, #04232700);
}


/* CSS DIREITOS */
.direitos{
    width: 100%;
    height: 24px;
    background-color: #042327;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    float: left;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
}

.direitos .box2{
    display: flex;
    float: left;
}

.direitos .box2 > div{
    padding-left: 20px;
}

.direitos > div i{
    padding-right: 8px;
}

.direitos #km{
    padding-left: 120px;
}