/* CSS CONTAINER GRID */
.containerGrid{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 52px 1fr 52px;

}

/* CSS BARRA ESQUERDA */
.barraEsquerda{
    background-color: #264044;
    text-align: center;
    display: block;
    height: 100vh;
    position: relative;
    /* margin-top: 40px; */
    padding-top: 40px;

}

#menuSeparado{
    position: absolute;
    bottom: 0;
}

.barraEsquerda .menuEsquerdo{
    padding-top: 15px;
 
}

.menuEsquerdo button{
    width: 38px;
    height: 38px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 3px;

}


.menuEsquerdo button:hover{
    background-color: rgb(255, 255, 255, 0.08);
}

.menuEsquerdo button:focus{
    background-color: #122f33;
    color: #4dbac8;
}




/* CSS CONTAINER (FUNDO) 
 * As configurações desse container
 * estão em uma folha de estilo
 * separada (estilo-container.css) */


/* CSS BARRA DIREITA */
.barraDireita{
    background-color: #264044;
    height: 100vh;
    /* margin-top: 40px; */
    padding-top: 40px;
}

.barraDireita .menuDireito{
    padding-top: 15px;
    text-align: center;
}

.barraDireita button{
    width: 38px;
    height: 38px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 3px;

}

.barraDireita button:hover{
    background-color: rgb(255, 255, 255, 0.08);
}

.barraDireita button:focus{
    background-color: #122f33;
    color: #4dbac8;
}

/* CSS EFEITOS DOS BALÕES DO MENU */

[data-balao]{
    background-color: #bcc5c6;
    padding: 3px 6px 3px 6px;
    border-radius: 3px;
    color: #18191a;
    position: absolute;
    justify-content: center;
    font-size: 12px;
    opacity: 0;
    width: max-content;
    transition: .5s;
    z-index: 98;
}

[data-balao].mostrar{
    opacity: 1;
    transition: .5s;
}


[data-balao="menuTopo"]{
    right: 40px;
    top: 50px;
    display: block;
   
}

[data-balao="menuEsquerdo"]{
    left: 60px;
    /* width: 200px; */
    
}

[data-balao="menuDireito"]{
    right: 60px;
    
}